html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #757575; /* Evita el deslizamiento horizontal y vertical */
}

#root {
    height: 100%; /* Asegura que el contenedor principal ocupe todo el alto */
    display: flex;
    flex-direction: column;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; /* Asegura que el contenedor ocupe todo el espacio disponible */
    
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /* Asegura que el padding se incluya en el alto total */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    height: 100%; /* Asegura que el contenedor ocupe todo el alto */
}

h1 {
    font-size: 2.5rem;
    color: #FFCA00;
    margin-bottom: 1rem;
}

p {
    font-size: 1.25rem;
    color: #FFCA00;
    margin-bottom: 2rem;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #FFCA00;
  background-color: #2f2e2e;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  margin: 0.5rem 0;
  transition: background-color 0.3s;
  width: 200px; /* Ancho fijo para los botones */
  text-align: center; /* Centra el texto dentro del botón */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

    &:hover {
        background-color: #161616;
    }
}